@{
    ViewData["Title"] = "Prescription Slip";
}
<h2 class="text-center">Prescription Details</h2>
<div class="main-wrapper">
    <div class="page-wrapper">
        <div class="content">
            <div>
                <div class="content">
                   @*  <div class="row">
                        <div class="col-sm-5 col-4 text-center">
                            <h3 class="page-title"><b></b></h3>
                        </div>
                    </div> *@

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row custom-invoice">
                                        <div class="col-6 col-sm-6 m-b-20">
                                            <img src="assets/img/logo-dark.png" class="inv-logo" alt="">
                                            <ul class="list-unstyled">
                                                <li>Encrypted</li>
                                                <li>8 Summerstrand Road</li>
                                                <li>University Way, PE, 6001</li>
                                                <li>Port Elizabeth</li>
                                            </ul>
                                        </div>
                                        <div class="col-6 col-sm-6 m-b-20">
                                            <div class="invoice-details">
                                                <ul class="list-unstyled">
                                                    <li>Date: <span>12/05/2024</span></li>
                                                    <li>ID Number:0123456789123 </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 m-b-20">

                                            <h5>Prescribed To: </h5>
                                            <ul class="list-unstyled">
                                                <li>
                                                    <h5><strong>Garry Sloan</strong></h5>
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="col-sm-15 col-lg-6 m-b-20">
                                            <div class="invoices-view">
                                                <span class="text-muted">Prescribed By:</span>
                                                <ul class="list-unstyled invoice-payment-details">
                                                    <li>
                                                        <h5>Pharmacist: <span class="text-right">Mr Goldman</span></h5>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>MEDICATION</th>
                                                    <th>QUANTITY</th>
                                                    <th>INSTRUCTION</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Panado</td>
                                                    <td>2</td>
                                                    <td>twice p/d</td>
                                                </tr>
                                                <tr>
                                                    <td>Alcougholex</td>
                                                    <td>1</td>
                                                    <td>twice p/d</td>
                                                </tr>
                                                <tr>
                                                    <td>Pretizones</td>
                                                    <td>6</td>
                                                    <td>Four times p/d</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p></p>
                                    <div>
                                        <div class="row invoice-payment">
                                            <div class="col-sm-7">
                                                <div class="table-responsive no-border">
                                                    <table class="table mb-0">
                                                        <tbody>
                                                            <tr>
                                                                <th>Pharmacist Signature:</th>
                                                                <td class="text-right text-primary">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="m-b-20">
                                                    <div class="table-responsive no-border">
                                                        <table class="table mb-0">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Patient Signature:</th>
                                                                    <td class="text-right text-primary">
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            @* <div class="col-auto">
                <a asp-action="" class="btn btn-danger" asp-controller=">
                    Cancel
                </a>
            </div> *@
        </div>
    </div>
</div>
